* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-image: url(good.png);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header_logo {
  margin: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-family: "Cafe24Ssurround";
}

.header .header_logo i,
a {
  color: rgba(255, 255, 255, 0.7);
}

.header .header_memu ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

.header .header_memu ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-family: "Cafe24Ssurround";
}

.header .header_memu ul li :hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: all 0.4s;
}

.header .header_memu ul li a {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.header .header_icons .instagram a,
.header_icons .facebook a {
  width: 24px;
  height: 24px;
  background-size: 24px;
  display: inline-block;
}

.header .header_icons .instagram a {
  background-image: url(instagram.png);
  border-radius: 7px;
}

.header_icons .instagram a:hover {
  background-color: white;
  border-radius: 8px;
}

.header_icons .facebook a {
  background-image: url(facebook.png);
  border-radius: 3px;
}

.header_icons .facebook a:hover {
  background-color: white;
  border-radius: 4px;
}

.header_icons li :hover {
  background-color: white;
  transition: all 0.4s;
}

.header_icons ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.header_icons ul li {
  margin: 10px;
}
